.header{
    
}

.header{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}


.item1{
    margin: 250px 486px 182.5px 120px;
    color: #272727;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    width: 708px;
}

.header-description{
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-style: normal;
/* margin: 258px 523px 121px 120px; */
margin: 517px 1046px 143px 240px;
padding-right: 10px;

}

.btn-header{
    text-align: center;
    color: #FFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:20px 40px 20px 40px;
    border-radius: 8px;
    background: #E55473;
    

}

.header-profile{
    max-width: 635px;
    
}

.header-item{
    display: flex;
    justify-content: space-between;
    
}



.header{
   background-color: #FCEDF0;
    background-position:center
}

.flower-types{
    text-align: center;
}

.first-type{
    background-color: #F2DEE8;
    
}

.second-type{
    background-color: #D7EDEE; 

}
.third-type{
    background-color: #E4ECDC;
    

}

.three-types{
    display: flex;
    justify-content: space-around;
}

.three-types img{
    padding-bottom: 0px;
    padding:60px 60px 0px 60px; 
    
}

.names> ol{
    list-style: none;
    
}

.same{
    max-width: 1500px;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F4;
    padding: 100px 100px;
  

}

.btn{
    text-align: center;
    background-color: white;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.deal-item1{
    /* padding-right: 100px;  */

    
}
.deal-item2{
    padding-left: 400px;
    

    
}

.hot-deal{
    display: flex;
    justify-content: space-around;
    margin-top:150px;
    background-color: #FDF6F8;
}


main{
    margin-top:200px;
}

.main-flowers{
    display: flex;
    justify-content: space-around;
   
    
}

.main-flowers .flowers{
    padding: 30px 30px 30px 30px;
}

section{
    margin-top:50px;
}